.col-sm-6 {
    float: left;
    padding: 10px;
}

fa {
    padding: 10px;
}

.submit-section button {
    min-width: 170px;
}

.add-form {
    box-shadow: 1px 1px 10px;
}

.add-form hr {
    width: 90%;
}

.form-group {
    min-height: 450px;
}

.back-section button {
    padding-right: 30px;
}

.accessories-holder {
    padding: 10px;
    width: 100%;
    display: table;
}

.accessories-holder input {
    margin-bottom: .5rem;
}

.accessories-holder button {
    margin: 10px;
}

.image-holder {
    padding: 15px;
}

textarea {
    height: 100px;
    font-weight: 200;
}

.image-holder input:hover {
    cursor: pointer;
}

.image-viewer {
    text-align: center;
}

.image-viewer p {
    font-weight: 200;
    color: red;
    padding-top: 10px
}

.image-viewer img{
    width:  150px;
    height: 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    box-shadow: 1px 1px 11px;
    transition: 0.4s;
}

.image-viewer img:hover {
    transform: scale(1.4);
    opacity: 1;
    cursor: pointer;
}

.delete-image {
    height: 20px;
    width: 20px;
    background: red;
}

.container {
    padding-bottom: 100px;
}

.submit-section {
    text-align: center;
    padding: 15px;
}

.error-mgs {
    font-size: 100%;
    padding-bottom: 15px;
    text-align: center;
}